MCPUPPET_HEADLESS=false
MCPUPPET_SLOW_MO=0
MCPUPPET_MAX_CONNECTIONS=10
MCPUPPET_REQUEST_TIMEOUT_MS=30000
MCPUPPET_SETTLE_DELAY_MS=1000
MCPUPPET_MAX_REDIRECTS=5
MCPUPPET_SEARCH_BACKEND=google
#MCPUPPET_USER_DATA_DIR=./.browser-data
MCPUPPET_EXECUTABLE_PATH=/usr/bin/google-chrome-stable
MCPUPPET_SESSION_DEBUG_DIR=./.session-debug
MCPUPPET_HOST=127.0.0.1
MCPUPPET_PORT=5420
MCPUPPET_LOG_LEVEL=debug
#MCPUPPET_AUTH_TOKEN=changeme
